* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.CodeMirror {
  position: absolute;
  top:  0;
  height: 100%;
  width: 50%;
  font-size: 1em;
  font-family: Monaco, Consolas, monospace;
  line-height: 1.8;
}

.input + .CodeMirror {
  left: 0;
}
.output + .CodeMirror {
  right: 0;
}
